/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.title {
  font-family: "Macondo", cursive;
  text-align: center;
  font-size: 70px;
  padding: 10px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 22px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 22px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
