/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;400&display=swap');

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.title {
  text-align: center;
  font-size: 70px;
  padding: 10px;
}

/* Font classes */
.main-font {
  font-family: "Macondo", cursive;
}
.title-font {
  font-family: "Odibee Sans", cursive;
}
.content-font {
  font-family: "Abel", sans-serif;
}
.small-font {
  font-family: "Alumni Sans", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 22px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 22px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Parallax effect for images */
.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mountains {
  background-image: url("../assets/mountains.webp");
}

/* Just plain space */
.space {
  height: 10000px;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 350px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-left: calc(40% - 22px);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}
.card-content {
  padding: 2px 16px;
}
.card1 {
  transform: rotate(10deg) translate(150px);
  z-index: 0;
}
.card2 {
  transform: rotate(0deg) translate(0px);
  z-index: 0;
}
.card3 {
  transform: rotate(-10deg) translate(-150px);
  z-index: 1;
}

/* Footer */
footer {
  background-color: #ebebeb;
  padding: 15px;
  text-align: center;
}
.footer-link {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 5px;
}
.footer-link:hover {
  background-color: #e0e0e0;
}
